<div class="container">
    <h2><%= @user.username %>さんの、今までの記録</h2>

    <%= form_with model: @user, url: user_path(@user.id), local: true do |form| %>
        <div class="mb-3">
        <%= form.label :release_option, "公開設定", class: "form-label" %>
        <div class="form-check">
            <%= form.radio_button :release_option, 0, class: "form-check-input", checked: @user.release_option == 0 %>
            <%= form.label :release_option, '公開', class: "form-check-label" %>
        </div>
        <div class="form-check">
            <%= form.radio_button :release_option, 1, class: "form-check-input", checked: @user.release_option == 1 %>
            <%= form.label :release_option, '非公開', class: "form-check-label" %>
        </div>
        </div>
        
        <div class="mb-3">
        <%= form.submit '更新', class: "btn btn-primary" %>
        </div>
    <% end %>

    <% @answers.each do |answer| %>
        <p><%= answer.question.question_text %> : <%= answer.choice.result_answer %></p>
    <% end %>
</div>
