<!DOCTYPE html>
<html>
  <head>
    <title>MentAIdns</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Your Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'ホームへ戻る', root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to '診断を始める', new_mental_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to '今までの記録', mental_path(current_user.id), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'サインアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'サインイン', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container-fluid mt-4 custom-main-size">
    <div class="row justify-content-center custom-border">
      <div class="col-lg-6 main-content"> 
        <%= yield %>
      </div>
    </div>
  </div>

  <footer class="footer fixed-bottom bg-light text-center py-2">
    <p>&copy; 2023 Your Rails 7 App</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

  </body>
</html>
